$scrollBehavior: smooth;
$colorTheme: #d6140ad7;
$colorText: white;
$colorTextBlack: black;
$colorThemeSoft: #d6140add;
$formBackgroundTr: rgba(128, 128, 128, 0.237);

// timer
$colorShadow: hsl(235, 36%, 35%);
