@import "./variable";
.exam {
    display: flex;
    justify-content: space-between;
    .question {
        width: 100%;
        .card-header {
            border-radius: 1rem !important;
            background-color: $formBackgroundTr;
            h2 {
                width: 20%;
                margin: 0;
                color: $colorTextBlack;
                font-size: 1.6rem;
                font-weight: 600;
                padding: 0.4rem;
            }
        }
        .card-body {
            padding: 3rem 0;
            font-size: 1.6rem;
            p {
                font-weight: 800;
            }
            .form-check {
                input{
                    
                }
                input[type="radio"]:checked {
                    background-color: $colorTheme;
                    & + label {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    #exam-header {
        font-weight: 800;
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}
.button_submit {
    margin: 1rem 0;
    padding: 0.8rem 1.4rem;
    color: $colorText;
    background-color: $colorTheme;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 1rem;
    &:hover {
        cursor: pointer;
    }
}

.answer-box-container {
    width: 100%;
    height: fit-content;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 1rem;
    text-align: center;
    .ab-header {
        padding: 1rem;
    }
    #answer-box-header {
        font-size: 2rem;
        font-weight: 600;
        margin: 1.2rem 0;
    }
    .answer-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
        color: black;
        text-decoration: none;
        gap: 1rem;

        .answer-cell {
            font-size: 1.4rem;
            text-align: center;
            border: 2px solid $colorTheme;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                cursor: pointer;
            }
        }
        a {
            background-color: none;
            text-decoration: none;
            color: $colorTextBlack;
        }
    }

    .answer-box-footer {
        padding: 10px;
        width: 100%;

        .footer-content {
            width: 100%;
            p:first-child {
                text-align: left;
                font-weight: 600;
                font-size: 1.4rem;
                color: $colorTextBlack;
            }
        }
    }
}
.container_timer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    color: $colorTextBlack;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: $colorThemeSoft;
    position: relative;
}

.circle::before {
    content: "";
    position: absolute;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    background-color: $colorText;
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-weight: 500;
    font-size: 2.2rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -0.5rem;
    margin-inline: 1rem;
}
