.exam {
  display: flex;
  justify-content: space-between;
}
.exam .container {
  margin-top: 2rem;
}
.exam .question {
  width: 100%;
}
.exam .question .card-header {
  border-radius: 1rem !important;
  background-color: rgba(128, 128, 128, 0.237);
  padding: 2rem;
}
.exam .question .card-header h2 {
  width: 100%;
  margin: 0;
  color: black;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0.4rem;
}
.exam .question .card-body {
  padding: 3rem 0;
  font-size: 1.6rem;
}
.exam .question .card-body p {
  font-weight: 800;
}
.exam .question .card-body .form-check {
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}
.exam .question .card-body .form-check input {
  display: none;
}
.exam .question .card-body .form-check input[type=radio]:checked {
  background-color: rgba(214, 20, 10, 0.8431372549);
}
.exam .question .card-body .form-check input[type=radio]:checked + label {
  font-weight: 700;
  background-color: rgba(245, 165, 35, 0.5019607843);
  border: 2px solid rgba(245, 165, 35, 0.6862745098);
}
.exam .question .card-body .form-check label {
  width: 100%;
  height: 100%;
  padding: 1.2rem 1.2rem 1.2rem 3rem;
  border-radius: 1rem;
  background-color: rgba(128, 128, 128, 0.1);
}
.exam .question .card-body .form-check label:hover {
  cursor: pointer;
}
.exam #exam-header {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.button_submit {
  margin: 1rem 0;
  padding: 0.8rem 1.4rem;
  color: white;
  background-color: rgba(214, 20, 10, 0.8431372549);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
}
.button_submit:hover {
  cursor: pointer;
}

.answer-box-container {
  width: 100%;
  height: fit-content;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 1rem;
  text-align: center;
}
.answer-box-container .ab-header {
  padding: 1rem;
}
.answer-box-container #answer-box-header {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.2rem 0;
}
.answer-box-container .answer-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  color: black;
  text-decoration: none;
  gap: 1rem;
}
.answer-box-container .answer-box .answer-cell {
  font-size: 1.4rem;
  text-align: center;
  border: 2px solid rgba(214, 20, 10, 0.8431372549);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer-box-container .answer-box .answer-cell:hover {
  cursor: pointer;
}
.answer-box-container .answer-box a {
  background-color: none;
  text-decoration: none;
  color: black;
}
.answer-box-container .answer-box-footer {
  padding: 10px;
  width: 100%;
}
.answer-box-container .answer-box-footer .footer-content {
  width: 100%;
}
.answer-box-container .answer-box-footer .footer-content p:first-child {
  text-align: left;
  font-weight: 600;
  font-size: 1.4rem;
  color: black;
}

.container_timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  color: black;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  background-color: rgba(214, 20, 10, 0.8666666667);
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 94%;
  border-radius: 100%;
  background-color: white;
}

.time {
  position: relative;
  display: flex;
  flex-direction: row;
}

.time p {
  font-weight: 500;
  font-size: 2.2rem;
}

.time p:nth-of-type(2) {
  position: relative;
  top: -0.5rem;
  margin-inline: 1rem;
}

/*# sourceMappingURL=baithi.css.map */
